@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
body{
    background-image: url("img/road-bg.jpg");
    background-size: cover;
    background-attachment: fixed;  
}
.navbar-brand{
    margin-left: 20px;
    font-family: 'Open Sans', serif;
    font-size:20px;
    margin-right: 5px;
}

.navbar{
    font-family: 'Open Sans', serif;
    font-size: 20px;
    color:white;
}
.context {
    width: 100%;
    position:absolute;
    top: 25vh;
    text-align: center;
    color: #fff;
  }
  
  .context h1 {
    font-size: 100px;
  }
.context h3{
    font-size: 45px;
}

.home-search{
    color:#fff;
    padding:60px;
    display:inline-flex;
    margin-left: 60vh;
}

.search-button{
    padding: 10px;
    border-radius: 90px;
    margin-left: 10px;
    width: 100px;
}

.search-field{
    padding:10px;
    border-radius: 90px;
    width: 350px;
}