@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
#body{
  background-image: url("../public/road-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.context {
  width: 100%;
  position:fixed;
  top: 10vh;
  right: -66vh;
  color: #fff;
}

.context h1 {
  font-size: 100px;
}
.context h3{
  font-size: 45px;
}
.navbarBrand{
  margin-right: 20px;
  font-family: 'Open Sans', serif;
  font-size:40px;
  margin-right: 5px;
}
.navbar{
  font-family: 'Open Sans', serif;
  font-size: 20px;
}


